<div class="container mt-4">

  <h1> Edit a cocktail </h1>

  <%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.submit "Edit a cocktail", class: "btn btn-primary" %>
  <% end %>

</div>
